<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Vote Cupcakes</title>
    <link href="css/screen.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <div id= "heading"><h1>Vote cupcakes</h1></div>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <div>
      <img src="http://3.bp.blogspot.com/_KuaAihD4oVk/S8k8CrqtWuI/AAAAAAAAMaU/RSkfn_Xhr_s/s1600/crazy-cupcakes.jpg" title="yummy cupcake" alt="cupcake" />
      <img id="chocolate" src="http://www.52kitchenadventures.com/wp-content/uploads/2012/04/Gluten-free-chocolate-Nutella-cupcakes-close-up-21.jpg" title="nutella cupcake" alt="chocolate" />
    </div>
    
    <div>
      <form action="/submit" method="POST">
      
        <h3>What do you think of these cupcakes?</h3>
        
        <div>
          <label for="name">Whats your name?</label>
          <input type="text" name="name" />

        </div>
        <div>
          <label for="answer">yum</label>
          <input type="radio" name="answer" value="yum" required value="1"/>
        </div>
        <div>
          <label for="answer">Only the ones on the right look good</label>
          <input type="radio" name="answer" value="right"/>
        </div>

        <div>
          <label for="answer">Only the ones on the left look good</label>
          <input type="radio" name="answer" value="left"/>
        </div>

        
        <div>
          <label for="answer">gross</label>
          <input type="radio" name="answer" value="gross" />
        </div>
        
        <div>
          <label for="answer">Undecided</label>
          <input type="radio" name="answer" value="undecided" />
        </div>
        
        <div>
          <label for="tc">
            I certify that I am sane and capable of making this 
            decision.
          <label>
          <input type="checkbox" name="tc" value="1" />
        </div>
        
        <div>
          <input id="submit" type="submit" name="submit" value="send" />
        </div>
      
      </form>
    </div>
    
  </body>

</html>